.primary-photo-placeholder,
.secondary-photo-placeholder {
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.primary-photo-placeholder {
  align-self: stretch;
  height: 200px;
  flex-shrink: 0;
}
.secondary-photo-placeholder {
  flex: 1;
  height: 100px;
}
.b20 {
  position: relative;
  line-height: 160%;
  text-transform: capitalize;
}
.number-of-additional-nfts {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--call-to-action);
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-mini);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.photos-number-of-additional,
.secondary-photo-placeholder-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.photos-number-of-additional {
  flex-direction: column;
}
.collection-name8 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
}
.avatar-placeholder-icon11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.asset-12-211 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.avatar11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.artist-name4 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.artist-card8,
.collection-card,
.collection-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.artist-card8 {
  align-self: stretch;
  border-radius: var(--br-xl);
  flex-direction: row;
  gap: var(--gap-xs);
  font-size: var(--basebody-work-sans-size);
}
.collection-card,
.collection-info {
  flex-direction: column;
}
.collection-info {
  align-self: stretch;
  gap: var(--gap-3xs);
  text-align: left;
  font-family: var(--h1-work-sans);
}
.collection-card {
  border-radius: var(--br-xl);
  background-color: var(--background);
  width: 330px;
  flex-shrink: 0;
  gap: var(--gap-mini);
  text-align: center;
  font-size: var(--h5-space-mono-size);
  color: var(--text);
  font-family: var(--h5-space-mono);
}
