.discover-more-nfts1,
.explore-new-trending {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
}
.discover-more-nfts1 {
  line-height: 120%;
  font-weight: 600;
}
.explore-new-trending {
  font-size: var(--h5-space-mono-size);
  line-height: 160%;
}
.section-headline7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.eye-icon2 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.button53 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.button52 {
  border-radius: var(--br-xl);
  border: 2px solid var(--call-to-action);
  box-sizing: border-box;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-31xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  cursor: pointer;
  text-align: center;
  font-size: var(--basebody-work-sans-size);
}
.section-headline-button1 {
  width: 1050px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-81xl);
}
.discover-more-nfts {
  align-self: stretch;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding: var(--padding-61xl) var(--padding-176xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  text-align: left;
  font-size: var(--h3-work-sans-size);
  color: var(--text);
  font-family: var(--h1-work-sans);
}
