.logo-icon16 {
  position: relative;
  width: 243.41px;
  height: 32px;
  flex-shrink: 0;
}
.nft-marketplace-ui3 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.discordlogo-icon3 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  cursor: pointer;
}
.additional-info14,
.community-info1,
.icons3,
.nft-marketplace-info1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.additional-info14,
.community-info1,
.nft-marketplace-info1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-mini);
}
.additional-info14,
.nft-marketplace-info1 {
  gap: var(--gap-xl);
}
.nft-marketplace-info1 {
  font-size: var(--basebody-work-sans-size);
  color: var(--color-lightgray);
  font-family: var(--h1-work-sans);
}
.explore3 {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  text-transform: capitalize;
}
.marketplace2 {
  cursor: pointer;
}
.marketplace2,
.rankings4 {
  position: relative;
  line-height: 140%;
}
.user-icon6 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.enter-your-email4 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.type-form14 {
  border-radius: var(--br-xl);
  background-color: var(--text);
  border: 1px solid var(--caption-label-text);
  box-sizing: border-box;
  width: 315px;
  height: 46px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.envelopesimple-icon7 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.button59 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.button58 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--call-to-action);
  height: 46px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  cursor: pointer;
  text-align: center;
  color: var(--text);
}
.footer-info1,
.subscribe-widgetmobile2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.subscribe-widgetmobile2 {
  align-items: center;
  gap: var(--gap-base);
  color: var(--background);
}
.footer-info1 {
  width: 315px;
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.divider1,
.nft-market-use1 {
  align-self: stretch;
  position: relative;
}
.divider1 {
  border-top: 1px solid var(--caption-label-text);
  box-sizing: border-box;
  height: 1px;
  flex-shrink: 0;
}
.nft-market-use1 {
  line-height: 110%;
}
.divider-group,
.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divider-group {
  width: 315px;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--caption-work-sans-size);
  color: var(--color-lightgray);
  font-family: var(--h1-work-sans);
}
.footer1 {
  align-self: stretch;
  background-color: var(--background-secondary);
  padding: var(--padding-21xl) var(--padding-176xl);
  align-items: center;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--h5-space-mono-size);
  color: var(--text);
  font-family: var(--h5-space-mono);
}
