.image-placeholder-icon33,
.image4 {
  align-self: stretch;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
}
.image-placeholder-icon33 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 295px;
  flex-shrink: 0;
  object-fit: cover;
}
.image4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nft-name4 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
}
.avatar-placeholder-icon42 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-101xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.asset-12-242 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.avatar42 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nft-artist4 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.artist-avatar-name4,
.artst-info3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.artist-avatar-name4 {
  flex-direction: row;
  gap: var(--gap-xs);
  font-size: var(--basebody-work-sans-size);
  font-family: var(--h5-space-mono);
}
.artst-info3 {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.eth35,
.price11 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.eth35 {
  font-size: var(--basebody-work-sans-size);
  line-height: 140%;
  color: var(--text);
}
.highest-bid8,
.price10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.price10 {
  padding: 0 var(--padding-2xl) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.highest-bid8 {
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}
.additional-info18,
.nft-info10 {
  align-self: stretch;
  align-items: flex-start;
}
.additional-info18 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--caption-work-sans-size);
  color: var(--caption-label-text);
  font-family: var(--h5-space-mono);
}
.nft-info10 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-11xl) var(--padding-6xl);
  gap: var(--gap-6xl);
}
.nft-card4,
.nft-cards-row2,
.nft-info10 {
  display: flex;
  justify-content: flex-start;
}
.nft-card4 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--background);
  height: 469px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.nft-cards-row2 {
  width: 680px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--h5-space-mono-size);
  color: var(--text);
  font-family: var(--h1-work-sans);
}
