.artist2,
.div36 {
  position: relative;
}
.div36 {
  line-height: 140%;
  display: inline-block;
  width: 24px;
  flex-shrink: 0;
}
.artist2 {
  flex: 1;
  font-size: var(--caption-work-sans-size);
  line-height: 110%;
  text-align: left;
}
.rank-artist5 {
  width: 215px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.volume5 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.volume4 {
  width: 100px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.stats-header2,
.table-header5,
.table-headers5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stats-header2 {
  justify-content: flex-end;
  text-align: left;
  font-size: var(--caption-work-sans-size);
}
.table-header5,
.table-headers5 {
  width: 315px;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  justify-content: flex-start;
}
.table-header5 {
  border-radius: var(--br-xl);
  border: 1px solid var(--background-secondary);
  width: 317px;
  flex-direction: column;
  padding: var(--padding-xs) 0;
  font-size: var(--basebody-work-sans-size);
}
.div37 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 6px);
  left: calc(50% - 4px);
  line-height: 110%;
  z-index: 0;
}
.ranking-number4 {
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.avatar-placeholder-icon19 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-101xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.asset-12-219 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.avatar19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.dish-studio12 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.artist-card13 {
  border-radius: var(--br-xl);
  width: 167px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--basebody-work-sans-size);
  color: var(--text);
  font-family: var(--h1-work-sans);
}
.artist-card13,
.rank-artist6,
.volume6 {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.rank-artist6 {
  width: 310px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.volume6 {
  width: 80px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: var(--text);
}
.table-items,
.table-items1 {
  width: 315px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.table-items {
  border-radius: var(--br-xl);
  background-color: var(--background-secondary);
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xs) 0;
  justify-content: center;
  cursor: pointer;
}
.avatar-placeholder-icon23 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div46 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 6px);
  left: calc(50% - 7px);
  line-height: 110%;
  z-index: 0;
}
.rankings-list {
  align-self: stretch;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--caption-work-sans-size);
  color: var(--caption-label-text);
  font-family: var(--h5-space-mono);
}
