.top-creators5 {
  flex: 1;
  position: relative;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
}
.heading5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkout-top-rated2 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.section-headline15,
.subhead13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subhead13 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--basebody-work-sans-size);
}
.section-headline15 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.rocketlaunch-icon11 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.button89 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.button88 {
  border-radius: var(--br-xl);
  border: 2px solid var(--call-to-action);
  box-sizing: border-box;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-31xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  cursor: pointer;
  text-align: center;
  font-size: var(--basebody-work-sans-size);
}
.section-headline-button7 {
  width: 690px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-81xl);
}
.artist-cards-grid1,
.top-rated-artists2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.artist-cards-grid1 {
  width: 690px;
  align-items: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--h5-space-mono-size);
}
.top-rated-artists2 {
  align-self: stretch;
  background-color: var(--background);
  padding: var(--padding-21xl) var(--padding-176xl);
  align-items: center;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--h4-work-sans-size);
  color: var(--text);
  font-family: var(--h1-work-sans);
}
