.top-creators4 {
  flex: 1;
  position: relative;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
}
.heading3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkout-top-rated1 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.section-headline11,
.subhead11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subhead11 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--basebody-work-sans-size);
}
.section-headline11 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.section-headline-button5 {
  width: 315px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.artist-cards-row1,
.top-rated-artists1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.artist-cards-row1 {
  width: 315px;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--h5-space-mono-size);
}
.top-rated-artists1 {
  align-self: stretch;
  background-color: var(--background);
  padding: var(--padding-21xl) var(--padding-176xl);
  align-items: center;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--h4-work-sans-size);
  color: var(--text);
  font-family: var(--h1-work-sans);
}
